<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.manager.dao.ApprovalMapper">
    <resultMap id="BaseMapper" type="com.hzy.manager.domain.Approval">
        <id column="id" property="id"></id>
        <result column="approval_status" property="approvalStatus"/>
        <result column="application_content" property="approvalContent"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="real_name" property="realName"/>
    </resultMap>
    <select id="selectApprovalList" resultMap="BaseMapper" parameterType="map">
        SELECT a.id,u.real_name,a.approval_status,a.application_content,a.create_time,a.modify_time
        FROM p_approval a
        LEFT JOIN p_approval_user au ON(a.id=au.aid)
        LEFT JOIN p_user u ON(au.uid=u.id)
        where 1=1
        <if test="realName!=null and realName!=''">
            and u.real_name like concat('%',#{realName},'%')
        </if>
        order by create_time desc
        limit #{offeSet},#{pageSize}
    </select>
</mapper>