<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.manager.dao.LoginUserMapper">
    <resultMap id="BaseMapper" type="com.hzy.manager.dto.LoginUser">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="password" property="password"/>
        <result column="dept_id" property="deptId"/>
        <result column="real_name" property="realName"/>
        <result column="phone" property="phone"/>
        <result column="status" property="status"/>
        <result column="sex" property="sex"/>
        <result column="email" property="email"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="last_login_time" property="lastLoginTime"/>
        <result column="avatar_url" property="avatarUrl"/>
        <result column="describle" property="describle"/>
    </resultMap>
    <sql id="selectUser">
        select u.id,u.user_name,u.password,u.real_name,u.dept_id,u.phone,u.status,u.sex,
        u.email,u.create_time,u.modify_time,u.last_login_time,u.avatar_url,u.describle
        from p_user u
    </sql>
    <select id="findByUserName" resultMap="BaseMapper">
        <include refid="selectUser"/>
        where u.user_name=#{userName}
    </select>
</mapper>