<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.manager.dao.RoleMenuMapper">
    <resultMap id="BaseMapper" type="com.hzy.manager.domain.RoleMenu">
        <result column="menu_id" property="menuId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>
    <delete id="deleteRoleIdByMenuId" parameterType="arraylist">
        delete from p_role_menu
        where menu_id in
        <foreach item="mids" collection="array" open="(" separator="," close=")">
            #{mids}
        </foreach>
    </delete>
    <delete id="deleteRoleMenuById" parameterType="long">
        delete from p_role_menu
        where menu_id=#{mId} and role_id=#{rId}
    </delete>
</mapper>