<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.manager.dao.RoleMapper">
    <resultMap id="BaseMapper" type="com.hzy.manager.domain.Role">
        <id column="id" property="id"/>
        <result column="role_name" property="roleName"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
    <select id="getUserRoles" resultMap="BaseMapper">
     select r.* from p_role r
     left join p_user_role ur on (r.id=ur.role_id)
     left join p_user u on (u.id=ur.user_id)
     where user_name=#{userName}
    </select>
    <select id="getUserRole" resultMap="BaseMapper" parameterType="long">
        SELECT r.* FROM p_role r
       LEFT JOIN p_user_role ur ON(r.id=ur.role_id)
       LEFT JOIN p_user u ON(u.id=ur.user_id)
       where u.id=#{uid}
    </select>
</mapper>