<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.manager.dao.ScheduleMapper">
    <resultMap id="BaseMapper" type="com.hzy.manager.domain.Schedule">
        <id column="id" property="id"/>
        <result column="work_date" property="workDate"/>
        <result column="week" property="week"/>
        <result column="game_time" property="gameTime"/>
        <result column="studio" property="studio"/>
        <result column="league" property="league"/>
        <result column="game" property="game"/>
        <result column="trio_userid" property="trioUserid"/>
        <result column="vcp_mp_userid" property="vcpMpUserid"/>
        <result column="lv_userid" property="lvUserid"/>
        <result column="trtc_userid" property="trtcUserid"/>
        <result column="study_other_userid" property="studyOtherUserid"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>
    <select id="getScheduleListByConditionCount" resultType="int">
        select count(1) from p_schedule
        <where>
            <if test="userId!=null">
                and trio_userid=#{userId}
                or vcp_mp_userid=#{userId}
                or lv_userid=#{userId}
                or trtc_userid=#{userId}
                or find_in_set(#{userId},study_other_userid)
            </if>
            <if test="startTime!='' and startTime!=null">
                and work_date <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime!='' and endTime!=null">
                and work_date <![CDATA[<=]]> #{endTime}
            </if>
        </where>
    </select>
    <select id="getScheduleListByCondition" resultMap="BaseMapper">
        select * from p_schedule
        <where>
            <if test="userId!=null">
                and trio_userid=#{userId}
                or vcp_mp_userid=#{userId}
                or lv_userid=#{userId}
                or trtc_userid=#{userId}
                or find_in_set(#{userId},study_other_userid)
            </if>
            <if test="startTime!='' and startTime!=null">
                and work_date <![CDATA[>=]]> #{startTime}
            </if>
            <if test="endTime!='' and endTime!=null">
                and work_date <![CDATA[<=]]> #{endTime}
            </if>
        </where>
        order by work_date
        limit #{currentNo},#{pageSize}
    </select>
</mapper>
