<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzy.manager.dao.WorkLogMapper">
    <resultMap id="BaseMapper" type="com.hzy.manager.domain.WorkLog">
        <id column="id" property="id"/>
        <result column="work_date" property="workDate"/>
        <result column="week" property="week"/>
        <result column="game_time" property="gameTime"/>
        <result column="studio" property="studio"/>
        <result column="league" property="league"/>
        <result column="game" property="game"/>
        <result column="post" property="post"/>
        <result column="approval_opinion" property="approvalOpinion"/>
        <result column="status" property="status"/>
        <result column="work_hours" property="workHours"/>
        <result column="post_allowance" property="postAllowance"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
        <result column="real_name" property="realName"/>
    </resultMap>

    <select id="selectWorkLogList" resultMap="BaseMapper" parameterType="map">
        SELECT w.*,u.real_name FROM p_worklog w
        LEFT JOIN p_user_worklog uw ON(w.id=uw.id)
        LEFT JOIN p_user u ON(uw.user_id=u.id)
        where 1=1
        <if test="realName!=null and realName!=''">
            and u.real_name like concat('%', #{realName}, '%')
        </if>
        order by create_time desc
        limit #{offeSet},#{pageSize}
    </select>
    <select id="selectWorkLogListCount" parameterType="string" resultType="int">
        SELECT COUNT(1) FROM p_worklog w
        LEFT JOIN p_user_worklog uw ON(w.id=uw.id)
        LEFT JOIN p_user u ON(uw.user_id=u.id)
        where 1=1
        <if test="realName!=null and realName!=''">
            and u.real_name like concat('%', #{realName}, '%')
        </if>
    </select>
    <select id="selectWorkLogListByBoKong" resultMap="BaseMapper" parameterType="map">
        SELECT w.*,u.real_name,u.id FROM p_worklog w
        LEFT JOIN p_user_worklog uw ON(w.id=uw.id)
        LEFT JOIN p_user u ON(uw.user_id=u.id)
        where 1=1 and u.id=#{uid}
        <if test="realName!=null and realName!=''">
            and u.real_name like concat('%', #{realName}, '%')
        </if>
        order by create_time desc
        limit #{offeSet},#{pageSize}
    </select>
    <select id="selWorkLogListByUid" resultMap="BaseMapper">
        SELECT w.*,u.id FROM p_worklog w
        LEFT JOIN p_user_worklog uw ON(w.id=uw.id)
        LEFT JOIN p_user u ON(uw.user_id=u.id)
        WHERE u.id=#{uid} and w.work_date=#{workDate}
    </select>
</mapper>